{% extends "base.html" %} 
{% block cdn %}

{% endblock %}
{% block mine %}
class="active"
{% endblock %}


{% block content %} 
<span class="icon-headphones"></span>  
<ul class="list-group">
	{% for song in songs %}
	<div>
		<div class="panel-body" style="padding: 0">
			<h1 class="panel-title">
			<li class="list-group-item">
				<a href="" target="_blank">{{song.title}}</a>
				<a href="">-{{song.singer}}</a>
				<a href="/mymusic/play?id={{song.pk}}"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span></a>
				<a href="/mymusic/remove-fav?id={{song.pk}}" class="pull-right"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a>
			</li>
			</h1>
		</div>
	</div>
	{% endfor %}
</ul>

<script type="text/javascript">
	var xmlhttp;

		function createxmlhttp(){

			if (window.XMLHttpRequest)
			{// code for IE7+, Firefox, Chrome, Opera, Safari
				xmlhttp=new XMLHttpRequest();
			}
			else
			{// code for IE6, IE5
				xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
			}

		}

		function addURLParam(url, name, value){
			url += (url.indexOf("?") == -1 ? "?" : "&")
			url += encodeURIComponent(name) + "=" + encodeURIComponent(value);
			return url;
		}
		
		function send_get_request(value){
			createxmlhttp();
			url = "/mymusic/remove-fav";
			url = addURLParam(url, "id", value);
			xmlhttp.open("get", url, true);
			xmlhttp.send();
		}
</script>
{% endblock %}  
