{% extends "base.html" %} 
{% block cdn %}

{% endblock %}
{% block mine %}
class="active"
{% endblock %}


{% block content %} 
<span class="icon-headphones"></span>  
<ul class="list-group">
	{% for singer in singers %}
	<div>
		<div class="panel-body" style="padding: 0">
			<h1 class="panel-title">
			<li class="list-group-item">
				<a href="">{{singer.name}}</a>
			</li>
			</h1>
		</div>
	</div>
	{% endfor %}
	<nav>
		<ul class="pagination">
			<li><a href="/mymusic/search-singer?p={{pre_page}}"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
			{% for page_num in page_nums %}
				{% ifequal page_num cur_page %}
				<li class="active"><a href="/mymusic/search-singer?p={{page_num}}">{{ page_num }} </a></li>
				{% else %}
				<li><a href="/mymusic/search-singer?p={{page_num}}">{{ page_num }} </a></li>
				{% endifequal %}
			{% endfor %}
			<li><a href="/mymusic/search-singer?p={{nex_page}}"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a>
		</ul>
	</nav>
</ul>
{% endblock %}  