{% extends "base.html" %} 

{% block cdn %}
{% endblock %}

{% block share %}
class="active"
{% endblock %}


{% block content %}
<script type="text/javascript" src="{{STATIC_URL}}js/share.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> 
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/share.css">
<div class="row">
  <div class="col-xs-12 col-md-8">
    <div id="list">
        {% for sharedMusic in sharedMusics%}
        <div class="box clearfix">
            <a class="close" href="javascript:;">×</a>
            <img class="head" src="{{ MEDIA_URL }}heads/{{head}}" alt=""/>
            <div class="content">
                <div class="main">
                    <p class="txt">
                        <span class="user">{{ sharedMusic.user }}:</span>{{ sharedMusic.comment }}
                    </p>
                    <img class="pic" src="images/img1.jpg" alt="">
                </div>
                <div class="info clearfix">
                    <span class="time">{{ sharedMusic.datetime }}</span>
                    <a class="praise" href="javascript:;">赞</a>
                </div>
                <div class="praises-total" total="4" style="display: block;">4个人觉得很赞</div>
                <div class="comment-list">
                    <div class="comment-box clearfix" user="self">
                        <img class="myhead" src="{{ MEDIA_URL }}heads/{{head}}" alt=""/>
                        <div class="comment-content">
                            <p class="comment-text"><span class="user">我：</span>写的太好了。</p>
                            <p class="comment-time">
                                {{ sharedMusic.datetime }}
                                <a href="javascript:;" class="comment-praise" total="1" my="0" style="display: inline-block">1 赞</a>
                                <a href="javascript:;" class="comment-operate">删除</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-box">
                    <textarea class="comment" autocomplete="off">评论…</textarea>
                    <button class="btn ">回 复</button>
                    <span class="word"><span class="length">0</span>/140</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
        <div class="col-xs-6 col-md-2">
            <img src="{{ MEDIA_URL }}heads/{{head}}" alt="..." class="thumbnail">
        </div>
        <div class="col-xs-6 col-md-4">
            <h4>{{user}}</h4>
            <p>{{intro}}</p>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>动态</th>
                <th>关注</th>
                <th>粉丝</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>0</th>
                <th>0</th>
                <th>0</th>
            </tr>
        <tbody>
    </table>
</div>
{% endblock %}
