<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.css.map">
    
    <link href="{{ STATIC_URL }}Flat-UI-master/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="{{ STATIC_URL }}Flat-UI-master/dist/css/flat-ui.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block cdn %}
    {% endblock %}
  </head>
  <body>
    <script src= "{{ STATIC_URL }}js/search.js"></script>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/accounts/index/">音乐推荐系统</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li {% block find %}{% endblock %}><a href="/accounts/index?p=1">发现音乐</a></li>
            </ul>
            <ul class="nav navbar-nav">
              <li {% block mine %}{% endblock %}><a href="/mymusic/song-lib/">我的音乐</a></li>
            </ul>
            <ul class="nav navbar-nav">
              <li {% block share %}{% endblock %}><a href="/social-music/share/">分享音乐</a></li>
            </ul>
            <form action="/mymusic/search-song" method="GET" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <div class="input-group">             
                        <input data-toggle="dropdown" type="text" name="key" class="form-control" placeholder="搜索音乐，歌手">
                        <span class="input-group-btn">
                            <button type="submit" class="btn"><span class="fui-search"></span></button>
                        </span>
                        <ul class="dropdown-menu list-group" role="menu" aria-labelledby="dLabel">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user}} <span class="glyphicon glyphicon-user" aria-hidden="true"></span<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/accounts/home?id={{user.id}}">我的主页</a></li>
                        <li><a href="/social-music/msg?id={{user.id}}&IsComment=1">消息中心
                          {% if newsCount != 0 %}
                          <span class="badge pull-right" style="background-color: #CD4343;">{{ newsCount }}</span>
                          {% endif %}
                        </a></li>
                        <li class="divider"></li>
                        <li><a href="/accounts/logout/">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="starter-template">
            <div class="container">
              {% block content %}
              {% endblock %} 
            </div>
    </div><!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
 
    <script src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>

