{% extends "base.html" %} 
{% block cdn %}

{% endblock %}
{% block find %}
class="active"
{% endblock %}


{% block content %} 
<div class="row">
  <div class="col-xs-12 col-md-8">
  	<div class="row">
  		<div class="col-xs-6 col-md-3">
    		<a href="#" class="thumbnail">
     	 		<img src="{{ MEDIA_URL }}heads/{{head}}_large" alt="...">
    		</a>
  		</div>
  		<div class="page-header">
  			<h3>{{user}}</h3>
		</div>
			个人介绍:{{intro}}
	</div>
  </div>
  <div class="col-xs-6 col-md-4">

  </div>
</div>
{% endblock %}  
