{% extends "base.html" %} 
{% block cdn %}

{% endblock %}
{% block find %}
class="active"
{% endblock %}


{% block content %} 
<div class="row">
  <div class="col-xs-12 col-md-8">
  	<div class="row">
  		<div class="col-xs-6 col-md-3">
    		<a href="#" class="thumbnail">
     	 		<img src="{{ MEDIA_URL }}heads/{{head}}_large" alt="...">
    		</a>
  		</div>
  		<div class="page-header">
  			<h3>{{theuser}}</h3>
        {% ifnotequal user theuser %}
        <a class="btn btn-primary" onclick="follow({{theuser.id}})" href="javascript:;" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>关注</a>
        {% endifnotequal %}
		</div>
			个人介绍:{{intro}}
	</div>
  </div>
  <div class="col-xs-6 col-md-4">

  </div>
</div>
<script type="text/javascript">
  var xmlhttp;
  function createxmlhttp(){

      if (window.XMLHttpRequest)
      {// code for IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp=new XMLHttpRequest();
      }
      else
      {// code for IE6, IE5
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
      }

    }
  function follow(uid){ 
        createxmlhttp();
        url = "/social-music/follow/";
        xmlhttp.open("post", url, true);
        xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        xmlhttp.send("uid=" + uid);
        return false;
    }
</script>
{% endblock %}  
