{% extends "base.html" %} 
{% block cdn %}

{% endblock %}
{% block find %}
class="active"
{% endblock %}


{% block content %} 
<div class="row">
  <div class="col-xs-12 col-md-8">
  	<div class="row">
  		<div class="col-xs-6 col-md-3">
    		<a href="#" class="thumbnail">
     	 		<img src="{{ MEDIA_URL }}heads/{{head}}_large" alt="...">
    		</a>
  		</div>
  		<div class="page-header">
  			<h3>{{theuser}}</h3>
        {% ifnotequal user theuser %}
          {% ifequal isFollow False %}
          <a class="btn btn-primary" onclick="follow({{theuser.id}})" href="javascript:;" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>关注</a>
          {% else %}
          <a class="btn btn-primary" onclick="unfollow({{theuser.id}})" href="javascript:;" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>取消关注</a>
          {% endifequal %}
        {% endifnotequal %}
		</div>
			个人介绍:{{intro}}
	</div>
  </div>
  <div class="col-xs-6 col-md-4">

  </div>
</div>
<script type="text/javascript">
  var xmlhttp;
  function createxmlhttp(){

      if (window.XMLHttpRequest)
      {// code for IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp=new XMLHttpRequest();
      }
      else
      {// code for IE6, IE5
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
      }

    }
  function follow(uid){ 
        createxmlhttp();
        url = "/social-music/follow/";
        xmlhttp.open("post", url, true);
        xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        xmlhttp.send("uid=" + uid);
        return false;
    }
  function unfollow(uid){ 
        createxmlhttp();
        url = "/social-music/unfollow/";
        xmlhttp.open("post", url, true);
        xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        xmlhttp.send("uid=" + uid);
        return false;
    }


  function isFollowTab(el){
        var oldtotal = parseInt(el.getAttribute('total'));
        var text =el.innerHTML;
        var newtotal;
        if(text == ('贊('+oldtotal+')'))
        { 
          newtotal = oldtotal+1;
          favourComment(el.getAttribute('id'));
          el.innerHTML='取消贊('+newtotal+')';
        }
        else{
          newtotal = oldtotal-1;
          cancelFavourComment(el.getAttribute('id'));
          el.innerHTML='贊('+newtotal+')';
        }
        el.setAttribute('total',newtotal);
  }
</script>
{% endblock %}  
