{% extends "base.html" %} 
{% block cdn %}

{% endblock %}
{% block find %}
class="active"
{% endblock %}


{% block content %} 
<span class="icon-headphones"></span>  
<ul class="list-group">
	{% for song in songs %}
	<div>
		<div class="panel-body" style="padding: 0">
			<h1 class="panel-title">
			<li class="list-group-item">
				<a href="">{{song.title}}</a>
				<a href="/mymusic/singer?id={{song.singer.id}}">-{{song.singer.name}}</a>
				<a href="/mymusic/play?id={{song.pk}}"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span></a>
				<a onclick=send_get_request({{song.pk}}) class="pull-right"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a>
			</li>
			</h1>
		</div>
	</div>
	{% endfor %}
	<nav>
		<ul class="pagination">
			<li><a href="/accounts/index/?p={{pre_page}}"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
			{% for page_num in page_nums %}
				{% ifequal page_num cur_page %}
				<li class="active"><a href="/accounts/index/?p={{page_num}}">{{ page_num }} </a></li>
				{% else %}
				<li><a href="/accounts/index/?p={{page_num}}">{{ page_num }} </a></li>
				{% endifequal %}
			{% endfor %}
			<li><a href="/accounts/index/?p={{nex_page}}"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a>
		</ul>
	</nav>
</ul>

<script type="text/javascript">
	var xmlhttp;

		function createxmlhttp(){

			if (window.XMLHttpRequest)
			{// code for IE7+, Firefox, Chrome, Opera, Safari
				xmlhttp=new XMLHttpRequest();
			}
			else
			{// code for IE6, IE5
				xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
			}

		}

		function addURLParam(url, name, value){
			url += (url.indexOf("?") == -1 ? "?" : "&")
			url += encodeURIComponent(name) + "=" + encodeURIComponent(value);
			return url;
		}
		
		function send_get_request(value){
			createxmlhttp();
			url = "/mymusic/create-fav";
			url = addURLParam(url, "id", value);
			xmlhttp.open("get", url, true);
			xmlhttp.send();
		}
</script>
{% endblock %}  
