{% extends "base.html" %} 
{% block cdn %}

{% endblock %}
{% block find %}
class="active"
{% endblock %}


{% block content %} 
<span class="icon-headphones"></span>  
<ul class="list-group">
	{% for song in songs %}
	<div>
		<div class="panel-body" style="padding: 0">
			<h1 class="panel-title">
			<li class="list-group-item">
				<a href="" target="_blank">{{song.title}}</a>
				<a href="">-{{song.singer}}</a>
				<a href="/mymusic/play?id={{song.pk}}"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span></a>
				<a href="" class="pull-right"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a>
			</li>
			</h1>
		</div>
	</div>
	{% endfor %}
</ul>
{% endblock %}  
