
{% extends "base.html" %} 
{% block cdn %}

{% endblock %}

{% block content %} 
    <div class="starter-template">
        <div class="container">
        <style type="text/css">
        body{ 
            background: url({{ MEDIA_URL }}pictures/20100723153502478.jpg)no-repeat;
            background-size:cover; 
        }
        .hub-overlay {
            width: 400px;
            margin-left: 20px;
            margin-top: 80px;
            margin-bottom: 80px;
            background-color: rgba(36,50,55,0.4);
            border-radius: 4px;
            padding: 30px 40px;
            padding-bottom: 40px;
            color: rgba(255,255,255,0.8);
        }
        </style>
            <div class="row">
                <div class="col-xs-12 col-md-8">
                </div>
                <div class="col-xs-6 col-md-4">
                    <div class="hub-overlay">
                        <h3>登录音乐推荐系统</h3>
                        <form class="hub-signup-form" method="post" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                                    <input class="form-control" id="id_username" maxlength="30" name="username" placeholder="Username" type="text" />
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
                                    <input class="form-control" id="id_password" maxlength="30" name="password" placeholder="Password" type="password" />
                                </div>
                                {% if tips %}
                                <strong>{{tips_title}}</strong>
                                {{tips_message}}
                                {% endif %}
                            </div>
                            <button class="btn btn-primary btn-block" type="submit">登录</button>
                            <a href="/accounts/register/"><input type="button" value="注册" class="btn btn-success btn-block"></a>
                        </form>
                    </div>
                </div>
            </div> 
        </div>
    </div>      
        </div>
    </div><!-- /.container -->
{% endblock %} 
