{% extends "base.html" %} 
{% block cdn %}

{% endblock %}

{% block content %}
    <div class="starter-template">
      <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                
                <div class="hub-overlay">
                    <h2>个人信息</h2>
                    <form class="form-horizontal" action="" method="post">
                    {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                                <input class="form-control" id="id_username" maxlength="30" name="username" placeholder="Username" type="text" />
                            </div>
                            {% if tips %}
                            <strong>{{tips_title}}</strong>
                            {{tips_message}}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
                                <input class="form-control" id="id_password" maxlength="30" name="password" placeholder="Password" type="password" />
                            </div>
                            {% if tips %}
                            <strong>{{tips_title}}</strong>
                            {{tips_message}}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
                                <input class="form-control" id="id_password_again" maxlength="30" name="password_again" placeholder="Password Again" type="password" />
                            </div>
                            {% if tips %}
                            <strong>{{tips_title}}</strong>
                            {{tips_message}}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></div>
                                <input class="form-control" id="id_email" maxlength="30" name="email" placeholder="Email" type="email" />
                            </div>
                            {% if tips %}
                            <strong>{{tips_title}}</strong>
                            {{tips_message}}
                            {% endif %}
                        </div>
                        <button class="btn btn-block btn-primary" type="submit">注册</button>
                    </form>
                </div>
            </div>
            <div class="col-md-2"></div>
      </div>
    </div>
{% endblock %}


